*{
    box-sizing: border-box;
    margin :0px;
    padding: 0px;
}

@font-face {
    font-family: Norse-bold;
    src: url("./Norse-Bold.otf");
}
body {
    height : 100vh;
    width : 100vw;
    display : flex;
    
    background-color: rgba(239, 239, 239, 0.943);
}
.left-side{
    position : relative;
    height : 100vh;
    width : 60%;
    flex-basis: 40%;
    background-image: url(./background.jpg);
    background-position: left;
    background-repeat: repeat;
    background-size: cover;
    background-color: rgb(193, 140, 59);
   
    z-index: -1;
}
.right-side{
    height: 100%;
    width : 70%;
    display : flex;
    flex-direction: column;
}

/* logo */
.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position : relative;
    top : 30%;
    height : 18%;
    width : 100%;
    background-color: rgba(16, 16, 16, 0.666);
    /* border : 2px solid black; */
    /* opacity: 1; */
    /* z-index: 2; */
}
.logo img {
    height : 130px;
    width : 100px;

}
.logo h2 {
    font-family: Norse-bold;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: 6px;
    color : white;
}   

/* right side  */


.para {
    font-size : 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 6rem;
}

.structure {
    height : 40%;
    width : 100vw;
    background-color: white;
    padding : 40px;
}
.structure h3 {
    font-size : 30px;

}
.form {
    display : flex;
    flex-direction: column;
}
.form div {
    display : flex;

}
.form input {
    width : 200px;
    margin : 0px 10px;
    outline : none;
    border : 1px solid black;
    height : 30px;
    
}
.input {
    margin-top: 10px;
}
.input div {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
.input h3 {
    font-size : 13px;
    letter-spacing: .1rem;
    margin-bottom: 5px;
    margin-left: 10px;
    text-transform: uppercase;
}



/* create account btn  */

.btn {
    height : 40px;
    margin : 20px; 
    width : 200px;
    background-color: #596D48;
    color : white;  
    border-radius: 5%;
    outline : none; 
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    letter-spacing: .1rem;
    cursor : pointer;
    border : none;
}

.log-in {
    margin : 20px;
    font-weight: 300;

}
.log-in a{
    color : #596D48;
}
